SECRET_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ALLOWED_HOSTS = '"127.0.0.1", "localhost", "localhost:8080"'
ALGORITHM = "HS512"
DEBUG = 1  

# databases
REDIS_URL = "redis://localhost:6379"
MONGODB_URL = "mongodb://localhost:27017"
DATABASE_NAME = "boomino"
COLLECTION_NAME = "cache"

# authenticate
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "admin"

# rate limiting per hour
LIMIT_RATE = 100
